.navbar {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background: transparent;
}

.logo {
    float: left;
    margin: 30px;
}

.profile-pic {
    float: right;
    margin: 30px;
}

.profile-pic img {
    width: 40px;
    height: 40px;
}